{% load i18n %}

<nav class="navbar navbar-default navbar-header-custom" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/" title="onadata"><img alt="onadata" src="{{STATIC_URL}}images/onadata_logo_white.png" /></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        {% if form_view %}
            <li><a href="{% url "onadata.apps.main.views.profile" content_user.username %}" class="navbar-link">{{ content_user.username }}</a></li>
            <li><a href="#">/ </a></li>
            <li><a href="{% url "onadata.apps.main.views.show" content_user.username xform.id_string %}">{{ xform.title }}</a></li>


            {% else %}

            <li><a href="{% url "onadata.apps.main.views.form_gallery" %}">{% trans "Forms" %}</a></li>
            {% if user.is_superuser or user.is_staff %}
            <li><a href="{% url "onadata.apps.main.views.members_list" %}">{% trans "People" %}</a></li>
            {% endif %}
            <!-- <li><a href="/resources/">{% trans "Resources" %}</a></li> -->
            <li><a href="{% url "onadata.apps.main.views.syntax" %}">{% trans "Syntax" %}</a></li>
            <li><a href="{% url "onadata.apps.main.views.support" %}">{% trans "Support" %}</a></li>

        {% endif %}
        </ul>
        <!--<form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>-->


        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            {% if form_view %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url "csv_export" content_user.username xform.id_string %}">{% trans "csv" %}</a></li>
                    <li><a href="{% url "xls_export" content_user.username xform.id_string %}">{% trans "xls" %}</a></li>
                    <li><a href="{% url "onadata.apps.odk_viewer.views.kml_export" content_user.username xform.id_string %}">{% trans "kml" %}</a></li>
                </ul>
            </li>
            {% endif %}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src='{{ profile.gravatar }}' alt='gravatar' width='20' height='20' /> {{user.username}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url "onadata.apps.main.views.public_profile" user.username %}"><i class="fa fa-user"></i> {% trans "Public profile" %}</a></li>
                    <li><a href="{% url "onadata.apps.main.views.profile_settings" user.username %}"><i class="fa fa-cog"></i> {% trans "Settings" %}</a></li>
                    <li><a href="{% url "onadata.apps.main.views.activity" user.username %}"><i class="fa fa-eye"></i> {% trans "Account Activity" %}</a></li>
                    <li><a href="{% url "onadata.apps.main.views.api_token" user.username %}"><i class="fa fa-cog"></i> {% trans "API Token" %}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url "auth_logout" %}"><i class="fa fa-signout"></i> {% trans "Sign out" %}</a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="{% url "auth_login" %}">{% trans "Sign in" %}</a></li>
            {% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

