{% load humanize %}
{% load i18n %}

<div class="xlsform">
<h1>{% blocktrans %}Publish Form <small>Upload XLSForm</small>{% endblocktrans %}</h1>
{% url "tutorial" as tutorial_url %}
{% blocktrans %}For a quick introduction on how to publish a form try do download <a href="/examples/forms/tutorial/form.xls">tutorial.xls</a> and publish it.{% endblocktrans %}
<br/>
<br/>
{% url "syntax" as syntax_url %}
{% blocktrans %}Learn about the XLSForm syntax <a href="{{ syntax_url }}">here</a> along with more <a href="/examples/">form examples</a>.{% endblocktrans %}
<br/>
<br/>
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="tabbable">
        <ul class="nav nav-tabs nomarginbottom">
            <li class="active"><a href="#upload" data-toggle="tab">{% trans "Upload" %}</a></li>
            <li><a href="#url" data-toggle="tab">{% trans "URL" %}</a></li>
            <li><a href="#db-chooser" data-toggle="tab">{% trans "Dropbox" %}</a></li>
        </ul>
        <div class="tab-content bordered-side">
            <div class="tab-pane active" id="upload">
                <table class="narrow-labels">
                    {{ form.as_table }}
                </table>
            </div>
            <div class="tab-pane" id="url">
                <table class="narrow-labels">
                    {{ form_url.as_table }}
                </table>
            </div>
            <div class="tab-pane" id="db-chooser">
                <input type="dropbox-chooser" name="dropbox_xls_url" data-link-type="direct" style="visibility: hidden;"/>
            </div>
        </div>
    </div>
    <div style='float:middle;'>
        <div class="form-actions bordered-side bordered-bottom nomargintop">
            <input type="submit" class="btn large btn-primary" value="{% trans 'Publish' %}" />
        </div>
    </div>
</form>
</div>